.tools{
    margin-top: -10px;
    margin-right: -10px;
    text-align: right;
}
.tools spam{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: all .6s ease-in;
}
.tools spam:hover{
    color: white;
    background: #ea0b0b;
}

.well p > strong{
    font-size: 1.2em
}